@model HistoryIndexViewModel

@section headlinks{
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
}

<div class="row">
    <div class="col-md-10">
        <div>
            <label asp-for="StartDate" class="col-form-label"></label>
            <input asp-for="StartDate" id="startDate" />
            &nbsp;
            <label asp-for="EndDate" class="col-form-label"></label>
            <input asp-for="EndDate" id="endDate" />
            <button class="btn btn-sm btn-dark" id="btnFilter">Filter</button>
        </div>
    </div>
    <div class="col-md-12" id="history">
    </div>
</div>

@section scripts{
    <script src="~/lib/jquery-ajax-unobtrusive/jquery.unobtrusive-ajax.min.js"></script>
    <script>
        $(document).ready(function () {
            var startDate = $('#startDate').val();
            var endDate = $('#endDate').val();
            $('#history').load('/History/GetPartial', { startDate: startDate, endDate: endDate });
        });
        $('#btnFilter').click(function () {
            var startDate = $('#startDate').val();
            var endDate = $('#endDate').val();
            $('#history').load('/History/GetPartial', { startDate: startDate, endDate: endDate });
        });
    </script>
}