@model LindyCircleMVC.Models.Member

<h4>Change Member Name</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" method="post">
            <input type="hidden" asp-for="MemberID" />
            <div class="form-inline">
                <label asp-for="FirstName" class="col-form-label"></label>&nbsp;
                <input asp-for="FirstName" class="form-control col-md-6" />
            </div>
            <div class="form-inline">
                <label asp-for="LastName" class="col-form-label"></label>&nbsp;
                <input asp-for="LastName" class="form-control col-md-6" />
            </div>
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-secondary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="List">Back to List</a>
</div>