@model MembersListViewModel

<style type="text/css">
    .nameText {
        width: 90px;
        margin-right: 10px;
    }
</style>

<form name="form1" method="post" asp-action="List">
    <div>
        <label asp-for="NewMember.FirstName" class="col-form-label"></label>
        <input asp-for="NewMember.FirstName" class="nameText" />
        <label asp-for="NewMember.LastName" class="col-form-label"></label>
        <input asp-for="NewMember.LastName" class="nameText" />
        <input type="submit" value="Add new member" class="btn btn-sm btn-dark" id="btnAdd" />
        <div asp-validation-summary="All" class="text-danger"></div>
    </div>
</form>

@if (TempData["Message"] != null) {
    <div class="@TempData["Style"]">@TempData["Message"]</div>
}

<span>Show only active members</span>
<input type="checkbox" name="activeOnly" id="activeOnly" asp-for="ActiveOnly" />
<div id="members">
</div>

@section scripts{
    <script src="~/lib/jquery-ajax-unobtrusive/jquery.unobtrusive-ajax.min.js"></script>
    <script>
        $(document).ready(function () {
            var activeOnly = $('#activeOnly').is(':checked');
            $('#members').load('/Member/GetPartial', { activeOnly: activeOnly });
        });
        $('#activeOnly').click(function () {
            var activeOnly = $('#activeOnly').is(':checked');
            $('#members').load('/Member/GetPartial', { activeOnly: activeOnly });
        });
    </script>
}