@model MembersListViewModel

<style type="text/css">
    .nameText {
        width: 90px;
        margin-right: 10px;
    }
</style>

<form name="form1" method="post" asp-action="List">
    <div>
        <label asp-for="NewMember.FirstName" class="col-form-label"></label>
        <input asp-for="NewMember.FirstName" class="nameText" />
        <label asp-for="NewMember.LastName" class="col-form-label"></label>
        <input asp-for="NewMember.LastName" class="nameText" />
        <input type="submit" value="Add new member" class="btn btn-sm btn-dark" id="btnAdd" />
        <div asp-validation-summary="All" class="text-danger"></div>
    </div>
</form>

@if (TempData["Message"] != null) {
    <div class="@TempData["Style"]">@TempData["Message"]</div>
}

<span>Show only active members</span>
<input type="checkbox" name="activeOnly" id="activeOnly" asp-for="ActiveOnly" />
<div id="members">
</div>

@section scripts{
    <script src="~/lib/jquery-ajax-unobtrusive/jquery.unobtrusive-ajax.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs4/dt-1.10.20/fh-3.1.6/datatables.min.css" />
    <script type="text/javascript" src="https://cdn.datatables.net/v/bs4/dt-1.10.20/fh-3.1.6/datatables.min.js"></script>
    <script>
        $(document).ready(function () {
            var activeOnly = document.getElementById('activeOnly').checked;
            $('#members').load('/Member/GetPartial', { activeOnly: activeOnly });
            $('#memberTable').DataTable({
                oLanguage: {
                    sSearch: "Search Members"
                },
                autoWidth: false,
                fixedHeader: true,
                pageLength: 50,
                columns: [
                    { visible: false },
                    null,
                    { searchable: false },
                    { searchable: false, orderable: false },
                    { searchable: false, orderable: false }
                ],
                rowId: 'MemberID',
                order: [[1, "asc"]]
            });
        });
        $('#activeOnly').click(function () {
            var activeOnly = document.getElementById('activeOnly').checked;
            $('#members').load('/Member/GetPartial', { activeOnly: activeOnly });
        });
    </script>
}