@model MembersListViewModel

<span class="text-secondary">@Model.ActiveStatus</span>
<table class="table table-bordered table-striped table-sm">
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                Attended
            </th>
            <th>
                Remaining Punches
            </th>
            <th>
                Status
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var member in Model.Members) {
            <partial name="_MemberList" model="member" />
        }
    </tbody>
</table>
