@model PunchCardIndexViewModel

<h4>Punch Cards</h4>
<hr />

<div class="row">
    <div class="col-md-10">
        <form name="form1" method="post" asp-action="Purchase">
            <div>
                <span class="col-form-label">Member</span>
                @Html.DropDownList("ddlSelectMembers", Model.Members, new { @class = "col-md-auto", id = "ddlSelectMembers" })
                <input type="hidden" id="selectedMemberID" asp-for="SelectedMemberID" />
            </div>
            <div>
                <label asp-for="NewPunchCard.PurchaseDate" class="col-form-label"></label>
                <input asp-for="NewPunchCard.PurchaseDate" class="col-md-auto" />
                <label asp-for="NewPunchCard.PurchaseAmount" class="col-form-label"></label>
                <input asp-for="NewPunchCard.PurchaseAmount" class="col-md-2" />
                <input type="submit" class="btn btn-sm btn-secondary" value="Purchase Card" />
            </div>
            <div asp-validation-summary="All" class="text-danger"></div>
        </form>
    </div>

    <div id="punchCards" class="col-md-7">
    </div>
</div>

@section scripts{
    <script src="~/lib/jquery-ajax-unobtrusive/jquery.unobtrusive-ajax.min.js"></script>
    <script>
        $(document).ready(function () {
            if ($('#selectedMemberID').val() != 0)
                $('#ddlSelectMembers').val($('#selectedMemberID').val());
            $('#punchCards').load('/PunchCard/GetPartial',
                { selectedMemberID: $('#ddlSelectMembers option:selected').val() });
        });
        $('#ddlSelectMembers').change(function () {
            $('#punchCards').load('/PunchCard/GetPartial',
                { selectedMemberID: $('#ddlSelectMembers option:selected').val() });
        });
    </script>
}