@model PracticeListViewModel

<style type="text/css">
    .dateText {
        width: 120px;
        margin-right: 10px;
    }
</style>

<div class="row">
    <div class="col-md-9">
        <div>
            <label asp-for="StartDate" class="col-form-label"></label>
            <input asp-for="StartDate" id="startDate" />
            &nbsp;
            <label asp-for="EndDate" class="col-form-label"></label>
            <input asp-for="EndDate" id="endDate" />
            <button class="btn btn-sm btn-dark" id="btnFilter">Filter</button>
        </div>

        @if (TempData["Message"] != null) {
            <div class="@TempData["Style"]">@TempData["Message"]</div>
        }
    </div>

    <div id="practices" class="col-md-12">
    </div>
</div>

@section scripts{
    <partial name="_DatatablesPartial" />
    <partial name="_AjaxScriptsPartial" />
    <script>
        $(document).ready(function () {
            $('#practices').load('/Practice/GetPartial');
        });
        $('#btnFilter').click(function () {
            $startDate = $('#startDate').val();
            $endDate = $('#endDate').val();
            $('#practices').load('/Practice/GetPartial', { $startDate, $endDate });
        });
    </script>
}