@model AttendanceIndexViewModel

<style>
    .no-pad-left {
        padding-left: 0px;
    }
</style>

<h4>Practice Attendance</h4>
<hr />

<div class="row">
    <form class="col-md-10">
        <div class="form-group row">
            <label asp-for="@Model.PracticeDate" class="col-form-label col-md-2"></label>
            <div class="col-md-auto">
                <input asp-for="@Model.PracticeDate" id="practiceDate" class="form-control" />
            </div>
        </div>
    </form>
    <div id="practiceDetails" class="col-md-12">

    </div>
</div>


@section scripts{
    <script src="~/lib/jquery-ajax-unobtrusive/jquery.unobtrusive-ajax.min.js"></script>
    <script>
        $(document).ready(function () {
            var practiceDate = $('#practiceDate').val();
            $('#practiceDetails').load('/Attendance/GetPracticeDetails', { practiceDate: practiceDate });
        });
        $('#practiceDate').change(function () {
            var practiceDate = $('#practiceDate').val();
            $('#practiceDetails').load('/Attendance/GetPracticeDetails', { practiceDate: practiceDate });
        });
    </script>
}